<!DOCTYPE html>
<html>
 <head>
 	<title>Bookers</title>
 	<%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
 </head>
<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
</html>